<input #input [(ngModel)]="value" [type]="plain ? 'text' : 'password'" [required]="required" [placeholder]="placeholder"
       [autocomplete]="autocomplete"
       [class.is-invalid]="ngControl?.touched && ngControl?.invalid"
       [class.is-valid]="ngControl?.touched && ngControl?.valid"
       (blur)="onBlur()"
       class="form-control" size="45">
<button (click)="plain = !plain" [class.active]="plain" type="button" class="btn btn-outline-secondary" title="Show password" i18n-title>
    <fa-icon [icon]="faEye"/>
</button>
<div class="invalid-feedback">
    @if (errors.required)        { <div i18n>Please enter a password.</div> }
    @if (errors.minlength)       { <div i18n>Password must be at least {{ minLength }} characters long.</div> }
    @if (errors.maxlength)       { <div i18n>Password must be no longer than {{ minLength }} characters.</div> }
    @if (errors.strong?.upper)   { <div i18n>Password must contain an uppercase letter (A-Z).</div> }
    @if (errors.strong?.lower)   { <div i18n>Password must contain a lowercase letter (a-z).</div> }
    @if (errors.strong?.special) { <div i18n>Password must contain a digit or a special symbol.</div> }
</div>
