<!-- Header with the badge -->
<header class="d-flex flex-wrap align-items-center">
    <h1 class="mb-0 me-2" i18n="heading">Comments</h1>
    <app-domain-badge></app-domain-badge>
</header>

<!-- Comment list -->
<app-comment-list></app-comment-list>
