@for (t of toasts; track t; let idx = $index) {
    <ngb-toast [class]="t.className"
               [id]="'toast-' + idx" [autohide]="autohide"
               (mouseenter)="autohide = false" (mouseleave)="autohide = true" (hidden)="remove(t)">

        <!-- Optional heading -->
        <ng-template ngbToastHeader>
            <strong class="me-auto">
                @switch (t.alertType) {
                    @case ('info')    { <ng-container i18n>Info</ng-container> }
                    @case ('success') { <ng-container i18n>Success</ng-container> }
                    @case ('warning') { <ng-container i18n>Warning</ng-container> }
                    @case ('danger')  { <ng-container i18n>Error</ng-container> }
                }
            </strong>
        </ng-template>

        <!-- Toast body -->
        <div class="d-flex">
            <!-- Toast icon -->
            <fa-icon [icon]="t.icon" size="3x" class="mx-1"/>

            <!-- Toast text -->
            <div class="ms-3">
                <!-- The main message -->
                <app-server-message [messageId]="t.id" [errorCode]="t.errorCode"/>
                <!-- Additional details, if any -->
                @if (t.details) {
                    <div class="toast-details small mt-2">({{ t.details }})</div>
                }
            </div>
        </div>

        <!-- "401 Unauthorized: show a login button (unless it's a login error) -->
        @if (t.errorCode === 401 && t.id !== 'invalid-credentials') {
            <div class="mt-3">
                <button type="button" (click)="goLogin()" class="btn btn-primary w-100" i18n>Log in</button>
            </div>
        }

        <!-- Technical error details, if there's an error -->
        @if (t.error) {
            <div class="toast-tech-details small mt-2">
                <div class="text-end">
                    <button [class.collapsed]="!t.detailsShown" [attr.aria-expanded]="t.detailsShown" (click)="t.toggleDetails()"
                            type="button" class="btn btn-sm btn-link collapse-toggler">
                        <ng-container i18n>Technical details</ng-container>
                        <fa-icon [icon]="faChevronDown" class="ms-1"/>
                    </button>
                </div>
                @if (t.detailsShown) {
                    <div class="mt-2 fade-in"><pre>{{ t.error | json }}</pre></div>
                }
            </div>
        }
    </ngb-toast>
}
